
.tile {
  border: 1px solid khaki;
  cursor: default;
  display: block;
  height: 40px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 40px;
}

.tile-soil {
  background-color: lightgoldenrodyellow;
  height: 100%;
  opacity: 1;
  width: 100%;
}

.tile-elevation {
  height: 100%;
  width: 100%;
  .tile--raised & {
    background-color: white;
  }
  .tile--lowered & {
    background-color: black;
  }
}
