.mapgrid .mapgrid-row {
  display: flex;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
.mapgrid .mapgrid-row .tile {
  display: inline-block;
}

.tile {
  border: 1px solid khaki;
  cursor: default;
  display: block;
  height: 40px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 40px;
}

.tile-soil {
  background-color: lightgoldenrodyellow;
  height: 100%;
  opacity: 1;
  width: 100%;
}

.tile-elevation {
  height: 100%;
  width: 100%;
}
.tile--raised .tile-elevation {
  background-color: white;
}
.tile--lowered .tile-elevation {
  background-color: black;
}

.App {
  background-color: burlywood;
}